* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: auto;
  width: 1280px;
}

/* ! header */

.text-color {
  color: #4bcaff;
}

.ramda-decoration {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 80px;
  text-align: center;
  color: #000;
}

.navigation {
  margin-top: 48px;
  margin-bottom: 84px;
  display: flex;
  justify-content: center;
  background-color: #35444f;
}

.navigation-text {
  border-left: 1px #fff solid;
  border-right: 1px #fff solid;
  padding: 24px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #fff;
  text-decoration: none;
}

.navigation-text:hover {
  transition: 0.5s;
  background-color: #202b33;
}

/* * main */
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-aside {
  display: flex;
  flex-direction: column;
  border: solid #d7d7d7;
  width: 344px;
}
.text-aside {
  padding: 25px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 27px;
  line-height: 100%;
  color: #485863;
  text-decoration: none;
}

.img-decoration {
  width: 829px;
  height: 529px;
  overflow: hidden;
  border: #d7d7d7 solid 0.5px;

  /* width 829 height="529" */
}

img {
  width: 829px;
  height: 529px;
}

img:hover {
  transform: scale(1.1);
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}

.text-aside:hover {
  background-color: #dbdbdb;
  padding-left: 45px;
  transition: 0.5s;
}

.par-text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 133%;
  color: #2c2c2c;
  margin-left: 450px;
  margin-top: 20px;
}

/* ! footer */

.footer-text {
  padding: 20px 20px 20px 0;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  color: #0c1927;
  text-decoration: none;
  color: black;
}

.footer-text:hover {
  color: #3181a6;
  text-decoration: underline #3181a6;
  transition: 0.5s;
}

.par_footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #010101;
}

.nav-footer {
  padding: 0 0 0 20px;
  background: rgba(99, 105, 110, 0.48);
  display: flex;
  :nth-child(6) {
    margin-left: 150px;
  }
}

.par_footer {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #010101;
}
